<div class="container">
    <div class="jumbotron">
<h2>Adding Player</h2>

<hr>
<form (ngSubmit)="saveData(playerdata)" #playerform="ngForm">

    <div>
        <label for="name">Player Name</label>
        <input type="text" id="name" name="name" placeholder="enter Player Name"[(ngModel)]="playerdata.name"  #name="ngModel">
    </div>

    <div>
        <label for="age">Age</label>
        <input type="text" id="age" name="age" placeholder="enter Rating"[(ngModel)]="playerdata.age" #age="ngModel"  >
    </div>

    <div>
        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="Catogory"[(ngModel)]="playerdata.category" #category="ngModel">
    </div>
    <div>
        <label for="biddingPrice">BiddingPrice</label>
        <input type="text" id="biddingPrice" name="biddingPrice" placeholder="BiddingPrice"[(ngModel)]="playerdata.biddingPrice" #biddingPrice="ngModel">
    </div>
    <br><br>
    <p>
        <input type="submit" value="Save" class="btn btn-Info" [disabled]="!playerform.valid">
    </p>
    </form>
</div>
</div>
